In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('ab_browser_test.csv')
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [14]:
def write_ans(name, k):
    with open(name, 'w') as f:
        f.write(str(k))

In [13]:
control = data.loc[data['slot'] == 'control'].drop(columns=['userID'])
exp = data.loc[data['slot'] == 'exp'].drop(columns=['userID'])

In [19]:
k_1 = round((exp['n_clicks'].values.sum() - control['n_clicks'].values.sum()) / control['n_clicks'].values.sum() * 100, 3)
print(k_1)

1.614

In [20]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples

def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries